#proj-header{
	text-align: center;
	margin-bottom: 100px;
}
.formc{
	align-items: center;
	margin-top: 25px;
}
.table{
	width: 80% !important;
	margin: auto;
	margin-bottom: 20px;
}
body{
	background-color: #9FDAE3;
}
#pagination-wrapper{
	margin: auto;
	align-self: center;
	float: right;
	margin-bottom: 30px;
	margin-right: 20px;
}
.foreignK{
	color: #9FDAE3;
}
.foreignK:hover{
	color: #6B9399;
}